/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --header-text-weight: 400;
  --text-weight: 410;
  --button-text-weight: 400;
  --title-weight: 715;
  --text-color: #000;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), 
    repeating-linear-gradient(0deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-color: #fff;
  --border-color: #000;
  --modal-background-color: rgba(0, 0, 0, 0.75);
  --animation-color: #ff0000;
  --time-animation-xs: 0.05s;
  --time-animation-s: 0.1s;
  --time-animation-m: 0.3s;
}